:root{
    --font-c1:#999999;
    --secbg : #553192;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.welcome-text, .new-event{
    width: 70%;
    margin: auto;
    padding: 50px 0px;
    text-align: justify;
}
.your-events{
    width: 100%;
    height: auto;
}
.carousel-inner img {
    width: 100%;
    height: 70vh;
    
  }
.new-event>h3{
    text-align: center;
}
.new-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-btn>button{
   
   
   border-radius: 30px;
   border: none;
   padding: 20px 40px;
   background: var(--secbg);
   color: white;
}
.welcome-text> h2{
    text-align: center;
}
