:root{
    --font-c1:#999999;
    --secbg : #553192;
    --font-c2:#b8b6b6;
    --cardbg: #f2e1fa;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.welcome-text, .new-event{
    width: 70%;
    margin: auto;
    padding: 50px 0px;
    text-align: justify;
}
.your-events{
    width: 100%;
    height: auto;
}
.carousel-inner img {
    width: 100%;
    height: 70vh;
    
  }
.new-event>h3{
    text-align: center;
}
.new-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-btn>button{
   
   
   border-radius: 30px;
   border: none;
   padding: 20px 40px;
   background: var(--secbg);
   color: white;
}
.welcome-text> h2{
    text-align: center;
}

/* card */

.cardColumns{
    width: 95%;
    margin: auto;
}
.event-card{
    width: 30%;
    margin:  15px auto;
    overflow: hidden;
    padding:10px 15px;
    position: relative;
    background: var(--cardbg);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.08s ease-in;
}
.event-card:hover{
    box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
.event-name{
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: large;
    font-weight: 200;
    letter-spacing: 1px;
}
.event-city{
    position: absolute;
    top: 5%;
    right: 5%;
    color: var(--font-c2);
}
.event-description{
    color: var(--font-c1);
    font-size: small;
}
.event-req>tr>th{
    font-size: medium;
    font-weight: 100;
}

@media screen and (max-width:400px)
{
    .event-card{
        width: 100%;
    }
}
@media screen and ( min-width:401px) and (max-width:1100px)
{
    .event-card{
        width: 49%;
    }
}
/* card */