<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sweety</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/sweety.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="script" href="script/script.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
 
    
</head>
<body>

  <div id="header"><%- include('header.ejs') %> </div>
  

  <!-- Full-Sreen Carousel -->
   


  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
     
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <a href="sweetytoneedie.html">
          <img src="./images/uday.jpg" alt="pic1" width="1100" height="500" >
        </a>
           
      </div>
      <div class="carousel-item">
        
        <a href="sweetytoneedie.html">
          <img src="./images/Goonj.jpg" alt="pic2" width="1100" height="500">
        </a>
        
      </div>
      <div class="carousel-item">
        
        <a href="sweetytoneedie.html">
          <img src="./images/Akshaypatra.jpg" alt="pic3" width="1100" height="500">
        </a>
           
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

 <!-- Full-screen carousel ends here -->
  


<div class="jumbotron">



<img src="./images/happiness_1.png" alt="jk" class="center"><br/>
<h2 align="center">Welcome <%= donor.name %></h2><br/>

<!-- category feild started -->

<div class="container-fluid">

  <h4>CATEGORIES</h4>

  <div class="card-columns">
    
    <a href="sweetycategory.html"> <div class="card bg-primary">
      
      <div class="card-body text-center text-white">
        <h2 class="card-text">1 DAY EVENTS</h2>
      </div>
    </div></a>
   

    <a href="sweetycategory.html"><div class="card bg-warning">
      <div class="card-body text-center text-white">
        <h2 class="card-text">SUNDAY EVENTS</h2>
      </div>
    </div></a>


    <a href="sweetycategory.html"><div class="card bg-success">
      <div class="card-body text-center text-white">
        <h2 class="card-text">IN THIS WEEK</h2>
      </div>
    </div></a>
    

    <a href="sweetycategory.html"><div class="card bg-danger">
      <div class="card-body text-center text-white" >
        <h2 class="card-text">ENLIGHTENMENT EVENTS</h2>
      </div>
    </div></a>
    

    <a href="sweetycategory.html"> <div class="card bg-light ">
      <div class="card-body text-center">
        <h2 class="card-text">VOLUNTEERING</h2>
      </div>
    </div></a>
   
    <a href="sweetycategory.html"><div class="card bg-info text-white">
      <div class="card-body text-center">
        <h2 class="card-text">DONATIONS</h2>
      </div>
    </div></a>
    
  </div>

</div>

<!-- category feild ended -->




<hr>
<img src="./images/Asset 3.png" alt="jk" class="center responsive">
<hr>



<!-- 
CArousel items -->



<h2>You maybe interested in...</h2>
<div class="container-fluid">
<br>

  <div class="slider owl-carousel">
    <div class="card">
      <div class="img">
<img src="./images/Akshaypatra.jpg" alt=""></div>
<div class="content">
        <div class="title">
Sunday</div>

</div>
</div>
<div class="card">
      <div class="img">
<img src="./images/Goonj.jpg" alt=""></div>
<div class="content">
        <div class="title">
Today</div>

</div>
</div>
<div class="card">
      <div class="img">
<img src="./images/uday.jpg" alt=""></div>
<div class="content">
        <div class="title">
tomottow</div>

</div>
</div>
</div>
<script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: true,
      autoplayTimeout: 2000, 
      autoplayHoverPause: true,
    });
  </script>

<br>

</div>

<p class="text-right">swipe to see more</p>

<hr>

<!-- carousel items ended -->


<!-- Know about other NGOs started -->


<div class="card" style="top: 57px;">
  <div class="card-header">
    <h5>Your Local NGOs</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Do you know all your local NGOs</h5>
    <p class="card-text">It's always helpful to have knowledge about all the NGOs who work hard to make others life better</p>
    <a href="/ngolist" class="btn btn-primary">Let's meet</a>
  </div>
</div>

<!-- Know about other NGOs ended -->

</div>
 


  <!-- Full-Sreen Carousel -->
 
<div id="footer"><%- include('footer.ejs') %> </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>