<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/header.css">
</head>
<body>
 
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="/">DonorForLocal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">Help</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">1 Day Program</a>
                <a class="dropdown-item" href="#">Donation Only</a>
                <a class="dropdown-item" href="#"> Most Active NGOs </a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by city" id="search-field" aria-label="Search">
            <button class="btn my-2 my-sm-0" style="margin-right: 20px;" id="search"><i class="fa fa-search"></i> </button>
          </form>
          <% if (donor || ngo) { %> 
            <a class="logout my-2 my-sm-0" href="/<%= donor?"donor":"ngo" %>/logout"> Logout</a>
          <% } %> 
          <% if (donor===null && ngo===null) { %> 
            <a class="logout my-2 my-sm-0" href="/"> Login</a>
          <% } %> 
        </div>
      </nav>
         <script>
           const search = document.getElementById('search');
           const searchField = document.getElementById('search-field');
           search.addEventListener('click', async (e)=>{
             e.preventDefault();
             
             location.assign(`/events?city=${searchField.value}`)
           })

           
         </script>
</body>
</html>