<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor For Local</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="script" href="/script/script.js">
    
</head>

<body>
    
    <div id="header"><%- include('header.ejs') %> </div>
    <div class="row">
        <div class="text-center col-sm-6 text-cont">
            <h2>Donate for a cause</h2>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus tempore iure dolorem nisi magnam sit
                ratione harum quaerat impedit nemo. Exercitationem accusamus quis maxime voluptatum porro ex, beatae
                aliquam totam.</h5>
        </div>
        <div class="col-sm-6 form-cont">
            <div class="wrap-login ">
                <form class="login-form" id="login-form">
                    <span class="login-form-title ">
                        Sign In
                    </span>

                    <div class="wrap-input validate-input " data-validate="Enter username or email">
                        <input class="input" type="text" name="email" placeholder="email">
                        <span class="focus-input"></span>
                    </div>

                    <div class="wrap-input validate-input " data-validate="Enter password">
                        <input class="input" type="password" name="password" placeholder="password">
                        <span class="focus-input"></span>
                    </div>

                    <div class="container-login-form-btn">
                        <button class="login-form-btn" type="submit">
                            Sign In
                        </button>
                    </div>
                    <!--     
                    <div class="text-center mtb">
                        <span class="txt1">
                            Or login with
                        </span>
                    </div>
    
                 
                    -->
                    <div class="text-center sign-up-btn">
                        <a href="/" class="txt2 hov1">
                            forgot password
                        </a>
                    </div>
                    <div class="text-center sign-up-btn">
                        <a href="sweetySignup" class="txt2 hov1">
                            Sign Up
                        </a>
                    </div>

                    <div class="text-center sign-up-btn">
                        <a href="needySignin" class="txt2 hov1">
                            Are You From NGO?
                        </a>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 vid-cont">
            <video width="95%" controls>
                <source src="https://youtu.be/KgwfCnk2T5o">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-sm-6 about-cont">
            <div class="about">
                <h2>ABOUT US</h2>
                <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus tempore iure dolorem nisi magnam
                    sit ratione harum quaerat impedit nemo. Exercitationem accusamus quis maxime voluptatum porro ex,
                    beatae aliquam totam.</h5>
            </div>
        </div>
    </div>

    <div id="footer"><%- include('footer.ejs') %> </div>

    <script>
        const form = document.getElementById('login-form');

        form.addEventListener('submit', async (e)=>{
            e.preventDefault();

            const email = form.email.value;
            const password = form.password.value;
            console.log( email, password );

            try {
                const res = await fetch('/sweetySignin', {
                    method:'POST',
                    body:JSON.stringify({
                        email, 
                        password
                    }),
                    headers:{
                        'Content-Type':'application/json'
                    }
                });
                const data = await res.json()
                console.log(data)
                if(data.donor){
                    location.assign('/sweety')
                } else {
                    alert('Check your email and password')
                }
            } catch (e) {
                console.log(err)
            }
        })
    </script>
</body>

</html>